{% extends "learning_logs/base.html" %}

{% block content %}

<div class="container" style=" text-align: center; color: antiquewhite; background-color: inherit; margin: auto;">
  <div class="row" style="margin: auto; margin-top: 50px;">
    <div class="col-md-6 d-flex align-items-center" style="text-align: center; align-items: center;">

      <svg class="img-fluid mx-auto d-block" xmlns="http://www.w3.org/2000/svg" width="300px" height="300px" fill="currentColor" class="bi bi-card-checklist mx-auto d-block" viewBox="0 0 16 16">
          <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
          <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
      </svg>

    </div>
    <div class="col-md-6 d-flex align-items-center">

      <div style="text-align:left; margin: 10px; width: 600px; font-family: cursive;">
        <p style="font-family: cursive;">
          <h3 style="font-weight: bold;">Unleash Your Learning Potential with Our Learning Log!</h3>
    
          <p>Tired of scattered notes and forgotten ideas? Our Learning Log is here to revolutionize the way you learn and organize your thoughts. It's your personal digital notebook, tailored to your unique learning style.</p>
    
          <ul>
            <div style="margin-bottom: 10px;">
              <span style="margin-right: 5px; margin-left: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="yellow" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                </svg>
              </span>
              <span style="font-weight:bolder; font-size: x-large;">Why Choose Our Learning Log?</span>
            </div>
    
            <li><span style="text-decoration: underline; font-weight:400; font-style: italic;">Centralized Knowledge Base:</span> Keep all your notes, ideas, and reflections in one place.</li>
            <li><span style="text-decoration: underline; font-weight:400; font-style: italic;">Organization:</span> Categorize and tag your notes for quick and efficient retrieval.</li>
            <li><span style="text-decoration: underline; font-weight:400; font-style: italic;">Enhanced Learning Experience:</span> Reflect on your progress, set goals, and track your learning journey.</li>
            <li><span style="text-decoration: underline; font-weight:400; font-style: italic;">Secure and Private:</span> Your notes are safe and accessible only to you.</li>
            <li><span style="text-decoration: underline; font-weight:400; font-style: italic;">User-Friendly Interface:</span> A simple and intuitive design that makes note-taking a breeze.</li>
          </ul>
    
          Start Your Learning Journey Today!
    
          Create an account and unlock the full potential of our Learning Log. It's time to take control of your learning and achieve your goals. 
    
        </p>
      </div>

    </div>
  </div>
</div>

<table class="table-dark" style=" background-color: inherit; width: 80%; margin: 20px auto; display: flex; flex-direction: column;">
  <tbody>
    <tr style="background-color: inherit;">
      <td style="width: 50%; text-align: center;">
        
      </td>
      <td style="width: 50%; text-align: center;">
        
      </td>
    </tr>
  </tbody>
</table>

  



{% endblock content %}
