{% extends "learning_logs/base.html" %}

{% block content %}

    <div style="margin: 10px; margin-bottom: 5px;">
        <p>
            <a href="{% url 'learning_logs:topic' topic.id %}" style="text-decoration: none; color: antiquewhite;">
                <h3 style="font-family: cursive;">{{ topic }}</h3>
            </a>
        </p>
    </div>

    <div style="margin: 10px; margin-top: 5px;">
        <p>
            <h3 style="text-align:left; margin-bottom: 15px; font-family: cursive; font-weight: 500; font-style: italic;">Add a new entry:</h3>
        </p>
        <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-warning btn-lg" type="submit" value="Add Entry" style="font-family: cursive; margin: 5px; padding: 10px;">
        </form>

    </div>
    

{% endblock content %}